.profile-container {
    text-align: center;
}

.name {
    font-family: Verdana, Geneva, sans-serif;
    font-size: large;
    padding: 10px;
}

.avatar {
    position: relative;
    width: 100px;
    margin: 0 auto;
}

.level {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

.avatar-img {
    width: 100px;
    height: 100px;
}

.achievements-container {
    margin: 30px auto;
}

.achievement {
    padding: 5px;
    display: flex;
}

.achievement-img {
    position: relative;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.achievements-container span {
    margin-left: 10px;
}