// @import "./vars.scss";
// @import "./fonts.scss";

html {
  font-size: 16px;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0 !important;
}
.modal::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important; /* make scrollbar transparent */
}

.firstModal {
  z-index: 1040;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 10%;
  max-width: 80%;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.page-content {
  margin: 20px;
  flex-grow: 3;
}


